.people table, td, th {
    border: 1px solid black;
}

.people table {
    margin-left: 110px;
    border-collapse: collapse;

}
.people th {
    width: 100px;
    height: 50px;
}

.people td{
    width: 100px;
}
.people h1{
    text-align: center;
}